
body {
    background-color: beige;
    outline:10px solid rgba(79, 65, 47, 0.5); 
}
ul {
    background-color: rgba(79, 65, 47, 0.5);
    text-align: center;
    font-size: larger;
    padding: 20px;
    margin: 0px;
}
p{
    padding-left: 10px;
    padding-right: 10px;
}
a:link {
    color:blue;
    text-decoration: none;
}
a:hover {
    color: darkslategray;
    font-weight:bold;
    font-style: italic;
    text-decoration: underline;
}
a:visited {
    color:midnightblue;
    font-style:underline;
}
hr{
    margin: 0px;
}
li{
    display: inline;
    padding: 5px;
}
.stylelist {
    display:list-item;
    padding: 5px;
    list-style-position: inside;
    list-style: circle;
}
.merriweather-1 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.storyparagraph {
    text-indent: 1.0em;

}
h1 {
    color:darkslategrey;
    word-spacing: 0.15em;
}
#Journaltop{
    background-color: rgba(79, 65, 47, 0.2);
    padding: 10px;
    margin: 0px;

}
.centered {text-align: center;}
h2 {
    color:rgb(47, 79, 79);
    text-decoration: underline;
}
.first-line {font-style: italic;}
.para {
    text-align: left;
    text-indent: 15px;
}
img {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border: 10px solid rgba(79, 65, 47, 0.8);
}
h3 {
    color:darkslategray;
    text-decoration: underline;
    text-align: center;
    word-spacing: 0.26em;
}
h4 {
    color:rgb(29, 78, 78);
    text-decoration: underline;
}
.story-content p:first-letter
{ text-indent: 0;
font-size: 105%;}
.footer {
    text-align: center;
    background-color: rgba(79, 65, 47, 0.2);
    padding: 10px;
    margin: 0px;
}

.domine {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
  }
.journal-entry {
    display: inline-block;
    margin: 0 0;
    min-width: 8em;
    text-align: center;
    background-color: darkslategray;
    padding: 0.5em 0;
}
.journal-menu {
    color: beige;
    text-decoration: none;
}
.journal-menu:hover {
    background-color: rgba(79, 65, 47, 0.2);
}
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1.5px solid rgba(79, 65, 47, 0.5);
    margin: 0;
    margin-top: 0em;
    color: blue;
    background-color: beige;
    z-index: 1;
}

.dropdown-content a {
    color: black
}
.dropdown:hover .dropdown-content {
    display: block !important;
}

.dropdown-item {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0.2em;
    min-width: 7em;
}
.dropdown-item:hover, .dropdown-item:hover a {
    color: darkslategray;
}